* {
  box-sizing: border-box;
  scrollbar-color: #ff0000 #ffd001;
  scrollbar-width: thin;
 
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 500vh;
  width: auto;
  color:#fff;
  background-color: #000;
}

ul li a {
  text-decoration: none;
  position: relative;
  color: #fff;
}
ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 0%;
  height: 3px;
  background-color: #ffd700;
  transition: width 0.3s ease;
}
ul li a:hover::after {
  width: 100%;
}
ul li a:hover {
  color: gold;
}
/* ---------------------------------- */

header {
  background-color: #f08080;
  height: 3.5rem;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  margin: auto;
  width: 40%;
  text-align: center;
  background-color: #f0808088;
  box-shadow: 0 4px 8px #fff;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
}
header .nav-menu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  padding: 1rem;
}
header .nav-menu ul {
  display: flex;
  gap: 1rem;
}
header .nav-menu ul li {
  list-style: none;
}

.toggel-nav-menu-input {
  display: none;
}
.toggel-nav-menu-label {
  display: none;
}

/* ---------------------- */

main {
  height: 500vh;
  width: 100%;
  margin: auto;
  text-align: center;
}
.hjem {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.hjem .introduksjon {
  padding: 0 0.8rem;
}

.hjem .logo {
  width: 250px;
  height: 250px;
}
.hjem .logo img {
  width: 100%;
  height: 100%;
}

/* ------------------ */

.om-meg {
  height: 100vh;
  width: 100%;
  margin: auto;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}
.om-meg h3 {
  color: #ffd700;
  font-size: 2rem;
  text-align: center;
  height: 5%;
}
.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 0 5px 8px #ffd700;
  height: 95%;
}

.om-meg .personal-photo {
  width: 300px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px #ffd700;
}

.om-meg .personal-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.om-meg .sammendrag {
  line-height: 2.5rem;
  text-align: left;
}

/* ------------------ */

.prosjekter {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.prosjekter .titler {
  background-color: #f08080;
  padding: 1rem;
  border-radius: 999px;
}

.prosjekter h3 {
  color: #00ffff;
}
.prosjekter h4 {
  font-size: 15px;
  border-radius: 999px;
  padding: 0.4rem;
  background-color: #7fffd4;
}
.prosjekter section {
  padding: 1rem;
}
.prosjekter hr {
  border-color: red;
  height: 100%;
}

.prosjekter section p {
  line-height: 2.25rem;
}

/* -------------------- */

.sertifikater {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sertifikater h3 {
  padding: 0.3rem;
  border-bottom: 2px solid red;
}

.sertifikater blockquote p {
  line-height: 3rem;
}

/* ----------------- */

.kontakt {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 1rem;
  background-color: #000;
}
.kontakt h3 {
  border-bottom: 2px solid red;
  padding: 0.5rem;
}
.kontakt h3,
.kontakt ul {
  margin-top: 10%;
}
.kontakt ul li {
  text-align: left;
  list-style: square;
  margin: 1rem;
}

/* ----------- */
footer{
  
  height: 2rem;
  margin: auto;


}
.opphavsrett {
  background-color:#f08080;
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0; 


}

.opphavsrett p {
  margin: 0;
  padding:0; 
  font-size: 0.85rem;


}

/* ----------------- */

/* ----------------- */

@media (max-width: 910px) {
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .nav-menu {
    position: relative;
    display: none;
    
  }
  
  .toggel-nav-menu-label {
    position: absolute;
    top:0.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    cursor: pointer;
    font-style: italic;
    height: auto;
    user-select: none;
  }
  .toggel-nav-menu-input {
    display: none;
  }
  .nav-menu ul {
    position: absolute;
    top: 2.7rem;
    right: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    margin: 0;
    padding: 0.5rem 0;
    background-color: #f08080;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  #toggel-nav-menu:checked ~ .nav-menu ul {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-menu ul li {
    width: 100%;
    margin: 0.3rem 0;
  }

  /* ------------------------------- */
  .hjem .logo {
    width: 200px;
    height: auto;
  }

  /* -------------- */
  .om-meg {
    height: 100vh;
  }
  .om-meg .personal-photo {
    display: none;
  }
  .om-meg h3 {
    font-size: 1.9rem;
    background-color: #f08080;
    height: auto;
  }
  .hero {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;

    background: url(/images/Me.jpg) center/cover no-repeat;
    background-position: center top;
    position: relative;
  }
  .hero::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .om-meg .sammendrag {
    z-index: 1;
    color: #fff;
    font-size: 1.1rem;
    background-color: #00000080;
  }

  /* ---------------------------- */

  .prosjekter {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    display: block;
    background-color: #444;
    font-size: 1rem;
  }

  .prosjekter .titler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    background-color: transparent;
    padding: 0.3rem 0.5rem;
    line-height: 1.5;
  }

  .prosjekter .titler h3,
  .prosjekter .titler h4 {
    margin: 0.2rem 0;
    padding: 0.2rem;
  }

  .prosjekter .beskrivelse {
    padding: 0.3rem 1rem;
    line-height: 1.1;
  }

  .prosjekter .beskrivelse p {
    margin: 0.3rem 0;
  }

  .prosjekter > * {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: #fff;
  }

  .prosjekter section:nth-of-type(1)::before {
    content: '1';
  }
  .prosjekter section:nth-of-type(2)::before {
    content: '2';
  }
  .prosjekter section:nth-of-type(3)::before {
    content: '3';
  }
  .prosjekter section:nth-of-type(4)::before {
    content: '4';
  }

  .prosjekter section::before {
    position: absolute;
    top: 0.3rem;
    right: 0.7rem;
    font-size: 1.2rem;
    color: #ffd700;
    pointer-events: none;
  }

  .prosjekter hr {
    display: none;
  }
  .sertifikater blockquote p {
    line-height: 1.8rem;
  }
}

@media (max-width: 690px) {
  header h1 {
    width: 90%;
    font-size: 1.35rem;
  }
  .hjem h2 {
    font-size: 1.4rem;
  }
  .hjem .introduksjon {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}


@media (max-width: 490px){

  .om-meg h3{
    background-color:transparent;
    font-size: 22px;
  }
  .prosjekter{
    font-size: 18px;
    text-align: center;
    margin: auto;
  }
  .prosjekter .titler h4{
    background-color:transparent;
    color:#ffd700;
    margin: 0;
    padding: 0;

  }
  .prosjekter section{
    
    line-height: 0;
    height: 150vh;
  }
  .prosjekter section::before {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .sertifikater {
    margin-top: 4rem;
    height: 110vh;
    font-size: 14px;
  }
  .sertifikater h3 {
    padding: 0;
    margin: 0;
    border-bottom: 0 solid transparent;
  }
  
  .sertifikater blockquote p {
    line-height: 1.3rem;
  }
  .kontakt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0;
    margin: 0;
    height: 80vh;
  }

  footer{
    
  }
  .opphavsrett p{
    text-align: center;
    font-size: 12px;

  }

  

}



/* ---------------- */
